$bodyColor1: gray;
$bodyColor2: white;
$searchBoxColor1: lightblue;
$searchBoxColor2: navy;

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    $bodyColor1 0%,
    $bodyColor2 100%
  );
}

.header {
  width: 100%;
  margin: 0;
  padding: 50px;
  background-image: linear-gradient(
    to bottom,
    $searchBoxColor1 0%,
    $searchBoxColor2 100%
  );
}

.search-box__container {
  margin: 0 auto;
  width: 400px;
  height: 70px;
}
